# Nuxt / Nitro
.nuxt
.output
.data
.nitro
.cache
dist

# Dependencies
node_modules

# Logs
*.log

# Env
.env
.env.*
!.env.example

# OS / editor
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# Tests
coverage
playwright-report
test-results
